$font-roboto: 'Roboto',
sans-serif;

/*color*/

$color-black: #000000;
$color-black1: #252930;
$color-grey-opacity: rgba(37, 41, 48, 0.8);
$color-grey:  #E8E9EA;
$color-orange: #F87200;
$color-orange2: #FF5F00;
$color-background-white:  #FFFFFF;